@namespace FiveOhFirstDataCore.Components.Calendar.Render


<div class="calendar-event" style=@Style>
    <div class="calendar-event-content" title=@EventData!.Title>
        @EventData!.Title
    </div>
</div>